#logo {
width: 250px;
}
.contain {
    display: flex;
    padding: 33px;
 border-radius: 16px;
 margin: 2%;
 justify-content:center
 
    }

    .contain:nth-child(odd){
    background-color: white;
    color: black;
    }
 .contain:nth-child(even){
    background-color: rgba(122,248,255,1);
    color: white;
}

body{
    background-attachment: scroll;
    background-image: url("background.jpg");
    background-size: cover;
    color: white;
}







