/* CSS global */

#logo {
width: 250px;
}
.contain {
    display: flex;
    padding: 33px;
    border-radius: 16px;
    margin: 2%;
    justify-content:center;
    }

    .contain:nth-child(odd){
    background-color: white;
    color: black;
    }
.contain:nth-child(even){
    background-color: rgba(122,248,255,1);
    color: white;
}

body{
    background-attachment: scroll;
    background-image: url("background.jpg");
    background-size: cover;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    margin: 2%;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(48, 236, 250);
}

#message{
    height: 125px;
    width:250px;
}


#columns {
    flex-direction: column;
}






