#logo {
width: 250px;
}
.contain {
    display: flex;
    padding: 33px;
 border-radius: 16px;
 margin: 2%;
 justify-content:center;
    }

    .contain:nth-child(odd){
    background-color: white;
    color: black;
    }
 .contain:nth-child(even){
    background-color: rgba(122,248,255,1);
    color: white;
}

body{
    background-attachment: scroll;
    background-image: url("background.jpg");
    background-size: cover;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}






